{% extends 'index.html'%}
{% block title %}Home page{% endblock %}
{% block content %}
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}


/* style the container */
.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
} 

/* style inputs and link buttons */
.input-cls,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

.input-cls:hover,
.btn:hover {
  opacity: 1;
}

/* style the submit button */
.input-cls[type=submit] {
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}

.input-cls[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}
.col-1 {
  float: center;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }

}
</style>
</head>
<body>
<div class="container">
  <form action="/action_page.php">
    <div class="row">
      <h2 style="text-align:center">Login to enter to the application</h2>
      <div class="col-1">
        <input class="input-cls" type="text" name="username" placeholder="Username" required>
        <input class="input-cls" type="password" name="password" placeholder="Password" required>
        <input class="input-cls" type="submit" value="Login">
      </div>
      
    </div>
  </form>
</div>

<div class="bottom-container">
  <div class="row">
    <div class="col">
      <a href="#" style="color:white" class="btn">Sign up</a>
    </div>
    <div class="col">
      <a href="#" style="color:white" class="btn">Forgot password?</a>
    </div>
  </div>
</div>

<form method="post">

	{% csrf_token %}
	<input class="input-cls" type="text" name="username" placeholder="Username" required>
	<input class="input-cls" type="password" name="password" placeholder="Password" required>
	<input class="input-cls" type="submit" value="Login">

</form>
{% endblock %}