{% extends 'index.html'%}
{% block title %}Home page{% endblock %}

{% block content %}

{% for i in hw_objects %}

<div class="panel">
	<p>{{ i.hw_name }}</p>
	<p>{{ i.hw_info }}</p>
</div>

{% endfor %}

<button class="open-button" onclick="openForm()">Open Form</button>
<div class="form-popup" id="myForm">
  <form method="post" class="form-container">
    <h1>Login</h1>

		{% csrf_token %}
		{{ form.as_p }}
	
    <button type="submit" class="btn">Login</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

{% endblock %}
