{% extends 'index.html'%}
{% block title %}Home page{% endblock %}
{% block content %}

<div class="panel">
	<table>
		<tr>
			<th>Name</th>
			<th>Course</th>
			<th>Deadline</th>
			<th>Info</th>
		</tr>
{% for i in hw_objects %}
		<tr>
			<td>{{ i.HW_name }}</td>
			<td>{{ i.HW_course }}</td>
			<td>{{ i.HW_deadline }}</td>
			<td>{{ i.HW_info }}</td>
		</tr>
{% endfor %}
	</table>

</div>

<button class="open-button" onclick="openForm()">Open Form</button>
<div class="form-popup" id="myForm">
  <form method="post" class="form-container">
    <h2>Creating new HW</h2>

		{% csrf_token %}
		{{ form.as_p }}
	
    <button type="submit" class="btn">Create</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

{% endblock %}
